@model IEnumerable<ICE_TASK_2.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p><a asp-action="Create" class="btn btn-primary">Create New</a></p>

<table class="table">
    <thead>
        <tr><th>Name</th><th>Quantity</th><th>Price</th><th>Clearance</th></tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Quantity</td>
                <td>@p.Price</td>
                <td>@p.Clearance</td>
            </tr>
        }
    </tbody>
</table>

